@import "tailwindcss";

@font-face {
  font-family: 'Valika';
  src: url('/public/Fonts/Vilaka\ Modern\ Serif.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
    font-family:'Terminal';
    src: url(/public/Fonts/terminal-grotesque.ttf) format('truetype');
}
@font-face{
    font-family: 'Grande';
    src: url('/public/Fonts/Parceh.otf') format('opentype')
}

@theme{
    --font-custom: 'Valika',serif;
    --font-display: 'Terminal',monospace;
    --font-Parech : 'Grande',serif;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  overflow-x:hidden;
}
