*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
html,
body { 
   height:100%;
   width:100%;
}

.card{
  width: 300px;
  border: 02px solid black ;
  padding: 20px;
  background-color:palegoldenrod;

  
}
.parent{
  display:flex;
  padding:20px;
  align-items:center;
  flex:wrap;
}

.card img{
  height:50px;
  object-fit: cover ;
  border-radius:50%;
}
